[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlmodel = "*"
mysql-connector-python = "*"
python-multipart = "*"

[dev-packages]
pylint = "*"

[scripts]
start = "uvicorn src.main:app --host 0.0.0.0"
debug = "uvicorn src.main:app --reload"
create_tables = "python -m src.database"
lint = "pylint src"

[requires]
python_version = "3.10"
