[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlmodel = "*"
mysql-connector-python = "*"
python-multipart = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]
pylint = "*"

[scripts]
start = "uvicorn app.main:app --host 0.0.0.0"
debug = "uvicorn app.main:app --reload"
lint = "pylint app"

[requires]
python_version = "3.10"
